## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre='Nicolas'

5) Crear una variable que contenga un número complejo

In [ ]:
b=1+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
import math
pi=round(math.pi, 4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
var1='True' #string
var2=True #boolean

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma = 1 + 4.5

11) Realizar una operación de suma de números complejos

In [13]:
i1 = 1 + 2j
i2 = 3 + 4j
i1 + i2

(4+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
5 + (3 + 2j)

(8+2j)

13) Realizar una operación de multiplicación

In [15]:
5*5

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
entera = 27//4
print(entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
resto = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
resultado = 4*6+3
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
'Hola ' + 'Mundo'

'Hola Mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
'2'==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
print(int('2') == 2)
print('2' == str(2))

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
# a = float('3,8') error porque se usa coma en vez de punto
a = float('3.8')  # correcto, usa punto decimal

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [34]:
v1 = 3
v1 -= 1
print(v1)  # Debería imprimir 2

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<<2 # Desplazamiento a la izquierda 2 veces, equivale a 4 (agrega dos ceros al final en binario)
# 0001 --> 0100

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [39]:
# 2 + '2' Esto causará un error porque no se puede sumar un entero y una cadena

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
'Ja '*3  # Repetición de cadena, imprimirá 'Ja Ja Ja'

'Ja Ja Ja '